body {
    width: 100vw;
    height: 100vh;
}
#root {
    width: 100%;
    height: 100%;
}
/* user */
.user {
    width: 100%;
    height: 100%;
}
.user_btn {
    margin: 0 auto;
    width: 74%;
    padding: 3%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #333;
    border-radius: .6rem;
    margin-top: 7vw;
}
.user_signup {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 3vw;
    margin-top: 2vw;
}
/* login */
.login {
    width: 100%;
    height: 100%;
    transition: .5s;
    background-color: #fff;
}
.logo {
    margin: 0 auto;
    padding-top: 50%;
    position: relative;
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    color: #333;
    /* margin-top: -10vh; */
}
.input {
    margin: 0 auto;
    width: 80%;
    margin-top: 4vw;
}
.input > input {
    width: 94%;
    font-size: 4vw;
    padding: 3%;
    border: 0.3px solid #999;
    border-radius: .6rem;
    margin-top: 5vw;
    background-color: #f1f1f1;
}
/* signUp */
.signup {
    width: 100%;
    height: 100%;
    padding-top: 50%;
}
/* Intro */
.intro {
    filter: invert(100%);
}
.intro2 > .logo {
    padding-top: 45vh;
}
.intro3 > :not(.logo) {
    opacity: 0;   
}
.login > * {
    transition: .5s;
}